h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
#footer {
	/*задаємо верхню межу елемента: ширина лінії, тип лінії колір Лінії*/
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}
#map{
	padding-top: 80px;
}
.room_1 {
    position: relative;
    top: -190px;
    left: 100px;
}
.room_2 {
    position: relative;
    top: -180px;
    left: 250px;
}
.room_3 {
    position: relative;
    top: -270px;
    left: 400px;
}
.room_4 {
    position: relative;
    top: -320px;
    left: 570px;
}