h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h2 {
    text-decoration: underline;
}
#footer {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

.room-set {
    position: relative;
    top:-180px;
    left:110px;
}
.room_1 {
    position: absolute;
}
.room_2 {
    position: absolute;
    top: 50px;
    left: 145px;
}
.room_3 {
    position: absolute;
    top: -10px;
    left: 300px;
}
.room_4 {
    position: absolute;
    top: -20px;
    left: 466px;
}
.detail {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}
.delete_button {
    margin-left: 20px;
}
#detail_name{
    color: grey;
}
#button_row {
    margin-bottom: 50px;
    margin-top: 50px;
}
#delete_block {
    position: relative;
    top:200px;
    left: 180px;
}
.alert-warning {
    margin-top: 10px;
    text-align: center;
}
.login {
    margin-bottom: 30px;
}
.addworker {
    margin-bottom: 30px;
}