h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
#footer {
	/*задаємо верхню межу елемента: ширина лінії, тип лінії колір Лінії*/
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}
/*#map{
	padding-top: 80px;
}*/
.room-set {
    position: relative;
    top:-170px;
    left:110px;
}
.room_1 {
    position: absolute;
}
.room_2 {
    position: absolute;
    top: 50px;
    left: 145px;
}
.room_3 {
    position: absolute;
    top: -10px;
    left: 300px;
}
.room-set > .room_4 {
    position: absolute;
    top: -20px;
    left: 465px;
}
