{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %} Map {% endblock meta_title %}

{% block title %} Map{% endblock title %}
{% block logo %}
<div class="row">
    <h2>Detail view</h1>
</div>
{% endblock %}
{% block content %}

<div class="row">
    <h4><span id="detail_name">Name:</span> {{room.room_name}}</h4>
</div>
<div class="row">
    <h4><span id="detail_name">Number of work places: </span>{{room.emp_number}}</h4>
</div>
<div class="row">
    {% if room.image %}
    <img src="{{ room.image.url }}" height="480px" alt="Room image">
    {% else %}
    <div class="alert alert-info" style="text-align: center; width: 520px;">
    <p>Add a room image</p>
    </div>
    <img src="{% static "img/default-image.jpg" %}" width="520" />
    {% endif %}
</div>
<div class="row detail" id="fff">
    <div class="col-xs-3">
        <a class= "btn btn-primary" href=" {% url "map" %} ">back</a>
    </div>
    <div class="col-xs-1">
        <a class="btn btn-primary" href=" {% url "update" room.id %} ">update</a>
    </div>
        <div class="col-xs-1">
        <a class="delete btn btn-danger" href=" {% url "room_delete" room.id %} ">delete</a>
    </div>
</div>
<div class="row"><h4><span id="detail_name">Workers</span></h4></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Second name</th>
            <th>Email</th>
            <th>Menu</th>
            <th><a class="btn btn-primary" href="{% url "worker_create" %}">Add worker</a></th>
        </tr>
    </thead>
    <tbody>
    {% for worker in workers %}
        <tr>
            <td>{{worker.id}}</td>
            <td>{{worker.first_name}}</td>
            <td>{{worker.last_name}}</td>
            <td>{{worker.email}}</td>
            <td>
            <a class="btn btn-primary" href="{% url "worker_detail" worker.id %}">Detail</a>
            <a class="btn btn-primary" href="{% url "worker_update" worker.id %}">Edit</a>
 <!--              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Menu
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                 <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url "worker_detail" worker.id %}">Detail</a>
                 </li>
                 <li role="presentation">
                   <a role="menuitem" tabindex="-1" href="111#" >Edit</a>
                 </li>
                 <li role="presentation"> 
                    <a role="menuitem" tabindex="-1" href="#">Delete</a>
                  </li> -->
                </ul>
              </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- {{room.workers.1.first_name}} -->
{% endblock content %}