
{% extends "base.html" %}
{% load static from staticfiles %}

{% block meta_title %} Map {% endblock meta_title %}

{% block title %} Map{% endblock title %}
{% block logo %}
<div class="row" >
    <h2>Login Page</h2>
</div>
{% endblock %}

{% block content %}


<div class="row detail">
    <h3>Please enter your login and password</h3>
</div>

<form class="form-vertical" method="post" action="{% url "django.contrib.auth.views.login" %}?next={{ request.GET.next }}">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-6 ">
        <div class="form-group">
            <label class="col-md-4 control-label">
              {{ form.username.label_tag }}
            </label>
            <div class="col-md-8">
                {{ form.username }}
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 ">
        <div class="form-group">
            <label class="col-md-4 control-label">
              {{ form.password.label_tag }}
            </label>
            <div class="col-md-8">
                {{ form.password }}
            </div>
        </div>
    </div>
  </div>
  <div class="row ">
        <div class="col-md-2">
           <button type="submit" class=" btn btn-success" id="login-button">Login</button>
        </div>
        <div class="col-md-4">
          {% if form.errors %}
            <p>Input correct login and password.</p>
          {% endif %}
        </div>
  </div>
</form>

{% endblock %}

