{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %} Map {% endblock meta_title %}

{% block title %} Map{% endblock title %}
{% block logo %}
<div class="row" >
    <h2>Edit room</h1>
</div>
{% endblock %}
{% block content %}

    <form class="form-horizontal" method="POST" id="room_form" 
    action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row" id="contacts-form">
            <div class="col-xs-7">
                <div class="form-group">
                    <label class="col-md-2 control-label">Name:</label>
                    <div class="col-md-3">
                        {{ form.room_name }}
                    </div>
                    <div class="col-md-6 error">
                        {{ form.room_name.errors}}
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Number of workers:</label>
                    <div class="col-md-3">
                        {{ form.emp_number }}
                    </div>
                    <div class="col-md-6 error">
                        {{ form.emp_number.errors}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                    {{ form.image}}
                    </div>
                </div>
            </div>

        </div>
        <div class="row" id="button_row">
            <div class="col-xs-4">
                <a class= "btn btn-primary" href=" {% url "map" %} ">cancel</a>
            </div>
            <div class="col-xs-2">
                <input type="submit" class= "btn btn-primary" value="save"></input>
            </div>
        </div>
    </form>

{% endblock content %}
